<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.tecnm.tepic.ladm_u3_practica2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LADM_U3_PRACTICA2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="mx.tecnm.tepic.ladm_u3_practica2.MainActivity3"></activity>
        <activity android:name="mx.tecnm.tepic.ladm_u3_practica2.MainActivity2" />
        <activity android:name="mx.tecnm.tepic.ladm_u3_practica2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>